extend layout 

block content


  if locals.currentUser && locals.currentUser.membershipStatus == 'member'
    #main-actions
      a(href="/message/add") 
        button.btn.btn-success.btn-lg Create a new post

  #messages-wrapper 
    if messages
      for message in messages
        .message-item 
          .message-header 
            if locals.currentUser
              if message.author.isAdmin == true
                p.message-author #{message.author.username} ⭐️
              else 
                p.message-author #{message.author.username}
            else 
              p.message-author Anonymous 
            p.message-timestamp Posted on: #{(new Date(message.timestamp).toLocaleString("en-US", { timeZone: "UTC" }))}
          .message-body
            h3.message-title #{message.title}
            p.message-text #{message.content}
          if locals.currentUser && locals.currentUser.isAdmin == true
            .message-footer 
              a(href=(`/message/delete/${message._id}`)) 
                button.btn.btn-danger Delete this post
    else 
      p There are no messages